.wrap
	background chocolate
	linear-gradient(chocolate lighten(chocolate, 5%))
	border-bottom 1px solid darken(#412812, 30%)
	box-shadow 0 1px 0 lighten(#412812, 80%);
	color white
	margin-bottom 50px	