.wrap
	background chocolate
	linear-gradient(chocolate lighten(chocolate, 5%))
	border-bottom 1px solid darken(chocolate, 50%)
	border-top 3px solid #2D6BA0
	box-shadow 0 1px 0 lighten(chocolate, 30%);
	color white
	margin-bottom 50px	