h1
	font-family 'HominisNormal'
	font-size 5em
	text-align center
	font-weight normal
	color bg
	text-shadow 0 0 10px rgba(0,0,0,.6)
	margin-bottom 0

.wrap h2
	display block
	font-size 1.5em
	font-weight bold
	margin-bottom 1em
	color lighten(bg, 50%)
	text-align center
	font-weight normal

p 
	font-size 1em
	line-height 1.7em
