h1
	font-family 'HominisNormal'
	font-size 5em
	text-align center
	font-weight normal
	color white
	text-shadow 0 0 1px black, 0 5px 0 darkBlue
	margin-bottom 0

.wrap h2
	display block
	font-size 1.5em
	font-weight bold
	margin-bottom 1em
	color black
	text-align center
	font-weight normal
	text-shadow 0 1px 0 white

h2
	color accent

p 
	font-size 1em
	line-height 1.7em
	color chocolate

h4
	color chocolate
	display inline