div[role=main]
	margin-top 2em

article
	margin-bottom 40px


.nav li
	margin-bottom 30px
	display inline-block

h4
	color chocolate
	display inline

.active, h4:hover
	background headings
	color white
	border-radius 10px
	padding 5px 10px
	margin-right -13px
	font-size .8em
	font-weight normal


.noBorder
	border-bottom none

article h2, article h4, article ul
	margin-top 0

article h2, article h4
	cursor pointer

article header
	background bg
	border 3px dashed darken(bg, 40%)
	padding 40px 100px
	margin-bottom 0
	border-radius 10px
	cursor pointer

	ul
		list-style none
		padding-left 0
		font-size .8em
		color chocolate

		li
			line-height 1.8em
			color black
			text-shadow 0 1px 0 lighten(bg, 20%)

	h2
		color headings
		margin-bottom 5px

	p
		color darken(bg, 60%)
		font-style italic

article > ul
	width 90%
	border 3px dashed darken(bg, 40%)
	border-top none
	padding-right 40px
	position relative
	top -3px
	background bg
	margin auto
	box-sizing border-box

	li
		list-style none
		display inline
		padding-right 10px
		margin-right 10px
		border-right 1px solid darken(bg, 20%)

		&:last-child
			border-right none

		&:nth-child(n+2)
			padding-top 0
		

pre.prettyprint
	background lighten(bg, 20%)
	cursor pointer
	border 1px solid darken(bg, 20%)
	margin-top -10px
	font-size .8em

.selectedCode
	background white !important

.body
	max-width 700px
	margin-bottom 30px
