div[role=main]
	margin-top 2em

.nav li
	display inline-block
	cursor pointer

.active h4, li:hover h4
	background accent
	color darkBlue
	border-radius 10px
	padding 5px 10px
	margin-right -13px
	font-size .8em
	font-weight normal


.noBorder
	border-bottom none


article
	padding 40px 60px 0
	margin-bottom 40px
	background darkBlue
	border 2px dashed chocolate
	border-radius 10px	


article h2, article h4, article ul
	margin-top 0

article h2, article h4
	cursor pointer

article header
	margin-bottom 0

	ul
		list-style none
		padding-left 0
		font-size .8em

		li
			line-height 1.8em
			color white
			text-shadow 0 1px 0 lighten(bg, 20%)

			strong
				color accent
				text-shadow none

	h2
 		margin-bottom 5px

	p
		color darken(bg, 60%)
		font-style italic

article > ul
	list-style none
	margin auto
	margin-top 2em
	padding-left 0
	box-sizing border-box


	li
		margin-left 0


article > ul.nav
	position relative
	top -3px

	li
		list-style none
		display inline
		padding-right 10px
		margin-right 10px
		border-right 1px solid darken(bg, 20%)


		&:last-child
			border-right none

		&:nth-child(n+2)
			padding-top 0		
		

pre.prettyprint
	background darken(darkBlue, 10%)
	cursor pointer
	border 1px solid lighten(darkBlue, 20%)
	margin-top -10px
	font-size .8em

.selectedCode
	background white !important

.snippets li
	margin-bottom 30px
