article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
/* 1 */
  overflow-y: scroll;
/* 2 */
  -webkit-text-size-adjust: 100%;
/* 3 */
  -ms-text-size-adjust: 100%;
/* 3 */
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  *margin-left: -7px;
/* 2 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
/* 1 */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
/* 1 */
  -webkit-appearance: button;
/* 2 */
  *overflow: visible;
/* 3 */
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-family: 'HominisNormal';
  font-size: 5em;
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 5px 0 #354659;
  margin-bottom: 0;
}
.wrap h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #000;
  text-align: center;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
}
h2 {
  color: #ffc69c;
}
p {
  font-size: 1em;
  line-height: 1.7em;
  color: #b0cfe9;
}
h4,
h4 a {
  color: #b0cfe9;
  display: inline;
  cursor: pointer;
  text-decoration: none;
}
pre.prettyprint,
pre {
  background: #303f50;
  cursor: pointer;
  border: 1px solid #506a87;
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 0.8em;
  padding: 20px;
}
.pln,
.nx,
.k,
.na,
.cp {
  color: #fff;
}
@media screen {
  .str,
  .s1,
  .s2,
  .si {
    color: #ffc69c;
  }
  .kwd,
  .nv {
    color: #f2f200;
    font-weight: bold;
  }
  .com {
    color: #70a8d7;
  }
  .typ {
    color: #606;
  }
  .lit {
    color: #066;
  }
  .pun,
  .opn,
  .clo,
  .o,
  .p {
    color: #b0cfe9;
  }
  .tag {
    color: #008;
  }
  .atn {
    color: #606;
  }
  .atv {
    color: #080;
  }
  .dec,
  .var {
    color: #606;
  }
  .fun {
    color: #f00;
  }
  .gist-meta {
    background: #fff;
    padding: 8px;
    margin-top: 0;
    color: #354659;
  }
  .gist-meta a {
    color: #244e59;
  }
}
@media print,projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
pre.prettyprint {
  padding: 20px;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
body {
  background: #9aa3ac;
}
.inner {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
div[class^="grid_"] {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}
.grid_1 {
  width: 6.333333333333332%;
}
.grid_2 {
  width: 14.666666666666666%;
}
.grid_3 {
  width: 23%;
}
.grid_4 {
  width: 31.33333333333333%;
}
.grid_5 {
  width: 39.666666666666664%;
}
.grid_6 {
  width: 48%;
}
.grid_7 {
  width: 56.333333333333336%;
}
.grid_8 {
  width: 64.66666666666666%;
}
.grid_9 {
  width: 73%;
}
.grid_10 {
  width: 81.33333333333333%;
}
.grid_11 {
  width: 89.66666666666666%;
}
.grid_12 {
  width: 98%;
}
@media screen and (max-width: 480px) {
  div[class^="grid_"] {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
  }
}
body {
  padding-bottom: 3em;
}
.wrap {
  background: #b0cfe9;
  background: -webkit-linear-gradient(#b0cfe9, #b4d1ea) no-repeat;
  background: -moz-linear-gradient(#b0cfe9, #b4d1ea) no-repeat;
  background: -o-linear-gradient(#b0cfe9, #b4d1ea) no-repeat;
  background: -ms-linear-gradient(#b0cfe9, #b4d1ea) no-repeat;
  background: linear-gradient(#b0cfe9, #b4d1ea) no-repeat;
  border-bottom: 1px solid #2d6ba0;
  -webkit-box-shadow: 0 1px 0 #c8ddf0;
  -moz-box-shadow: 0 1px 0 #c8ddf0;
  box-shadow: 0 1px 0 #c8ddf0;
  color: #fff;
  margin-bottom: 50px;
}
div[role=main] {
  margin-top: 2em;
}
.nav li {
  display: inline-block;
  cursor: pointer;
}
li:hover h4 a,
.active h4 a {
  color: inherit;
  background: #ffc69c;
  background: -webkit-linear-gradient(#fff4eb, #ffc69c 40%);
  color: #354659;
}
h4 a:active {
  background: -webkit-linear-gradient(#ffc69c, #ffd1b0 40%) !important;
}
.fetching {
  -webkit-animation: pulse 1.5s alternate infinite;
}
@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(1.1);
  }
}
h4 a {
  padding: 7px 10px;
  display: inline-block;
  font-size: 0.9em;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-weight: normal;
}
.noBorder {
  border-bottom: none;
}
article {
  padding: 40px 60px 0;
  margin-bottom: 40px;
  background: #354659;
  border: 2px dashed #b0cfe9;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
article h2,
article h4,
article ul {
  margin-top: 0;
}
article header {
  margin-bottom: 0;
h2
}
article header ul {
  list-style: none;
  padding-left: 0;
  font-size: 0.8em;
}
article header ul li {
  line-height: 1.8em;
  color: #fff;
  text-shadow: 0 1px 0 #aeb5bd;
}
article header ul li strong {
  color: #ffc69c;
  text-shadow: none;
}
margin-bottom 5px p {
  color: #3b4148;
  font-style: italic;
}
article > ul {
  list-style: none;
  margin: auto;
  margin-top: 2em;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article > ul li {
  margin-left: 0;
}
article > ul.nav {
  position: relative;
  top: -3px;
}
article > ul.nav li {
  list-style: none;
  display: inline;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #76828f;
}
article > ul.nav li:last-child {
  border-right: none;
}
article > ul.nav linth-child(n+2) {
  padding-top: 0;
}
.selectedCode {
  background: #fff !important;
}
.snippets li {
  margin-bottom: 30px;
}
.discuss {
  background: #fff;
  padding: 8px 20px;
  font-size: 0.8em;
  margin-bottom: 40px;
  text-align: right;
}
.demo {
  float: left;
}
