pre.prettyprint, pre
	background darken(darkBlue, 10%)
	cursor pointer
	border 1px solid lighten(darkBlue, 20%)
	margin-top -10px
	margin-bottom 0
	font-size .8em
	padding 20px

.pln, .nx, .k, .na, .cp {
	color: #fff;
}

@media screen {
.str, .s1, .s2, .si  {
	color: accent
}

.kwd, .nv {
	color: darken(yellow, 5%);
	font-weight bold
}

.com {
	color: darken(chocolate, 20%);
}

.typ {
	color: #606;
}

.lit {
	color: #066;
}

.pun,.opn,.clo, .o, .p {
	color: chocolate;
}

.tag {
	color: #fff;
}

.atn {
	color: darken(yellow, 5%);
}

.atv {
	color: accent;
}

.var {
	color: #606;
}

.fun {
	color: red;
}

.gist-meta {
	background: white;
	padding 8px
	margin-top 0
	color: darkBlue;
}

.gist-meta a {
	color: headings
}

.dec { color: #fff; }

}

@media print,projection {
	.str {
	color: #060;
}

.kwd,.dec {
	color: #008;
	font-weight: bold;
}

.com {
	color: #600;
	font-style: italic;
}

.typ {
	color: #404;
	font-weight: bold;
}

.lit {
	color: #044;
}

.pun,.opn,.clo {
	color: #440;
}

.tag {
	color: #008;
	font-weight: bold;
}

.atn {
	color: #404;
}

.atv {
	color: #060;
}

}

pre.prettyprint {
	padding: 20px;
}

ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
	list-style-type: none;
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
	background: #eee;
}