.wrap {
  background black;
  background url(../img/texture.gif) repeat;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 1px 0 #666;
  -moz-box-shadow: 0 1px 0 #666;
  box-shadow: 0 1px 0 #666;
  color: #fff;
  margin-bottom: 30px;
}